@page "/test"
@layout PlainLayout


<div class="d-flex align-items-center justify-content-center" style="height: 100vh; width: 100vw">
    <div class="bg-primary" style="width: 10rem; height: 10rem; margin-bottom: 15%;" />
</div>
