@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="LV Configuration Console" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/"/>
            <RadzenPanelMenuItem Text="General" Icon="engineering">
                <RadzenPanelMenuItem Text="Batch" Icon="batch_prediction">
                    <RadzenPanelMenuItem Text="Batches" Path="general/batch/batches"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Purges" Path="general/batch/purges"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Device" Icon="phone_iphone" Path="general/device"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Equipment" Icon="precision_manufacturing" Path="general/equipment"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Facility" Icon="domain" Path="general/facility"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Integration" Icon="hub" Path="general/integration"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Labor" Icon="people_alt" Path="general/labor"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Logging" Icon="text_snippet" Path="general/logging"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Material" Icon="inventory_2" Path="general/material"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Media" Icon="perm_media" Path="general/media"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Monitor" Icon="cast" Path="general/monitor"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Onsite" Icon="groups" Path="general/onsite"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Profile" Icon="assignment_ind" Path="general/profile"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Property" Icon="settings" Path="general/property"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Security" Icon="privacy_tip" Path="general/security"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Task" Icon="task" Path="general/task"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Taskflow" Icon="air" Path="general/taskflow"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Workflow" Icon="account_tree" Path="general/workflow"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Operations" Icon="tune">
                <RadzenPanelMenuItem Text="Custom 1"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Custom 2"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Custom 3"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Datasets" Icon="analytics">
                <RadzenPanelMenuItem Text="Dataset 1"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Dataset 2"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Dataset 3"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Sandbox" Icon="science">
                <RadzenPanelMenuItem Text="Face Tracking" Icon="face_4" Path="sandbox/facetracking"/>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>


<RadzenDialog/>
<RadzenTooltip/>

@code {
    bool sidebar1Expanded = true;
}
